{% extends "base.html" %}

{% block main %}

{% load i18n %}
{% load routing_extras %}

<h1>Equipment Routing {{ year }}</h1>

<form class="form">
{% csrf_token %}
<table class="table table-sm table-hover routing-table text-nowrap">
  <thead>
    <tr>
      <th></th>
      <th class="tcol-unit">{% trans "UNIT" %}</th>
      <!-- <th class="tcol-units">{% trans "Items" %}</th> -->
      <th class="tcol-pallet-space">Pallet<br>Space</th>
      <th class="tcol-footprint text-center">m<sup>2</sup></th>
      <th class="tcol-from">From</th>
      {% for week in weeks %}
        <th class="tcol-week text-center" colspan="2">
          {% if forloop.last %}
            To
          {% else %}
          WEEK {{ week.number }}<br>
          {{ week.monday|date:"d.m." }} &ndash; {{ week.sunday|date:"d.m." }}
          {% endif %}
        </th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for objs in equipment_groups %}
      {% for obj in objs %}
        <tr style="border: 1px solid #ccc;">
          {% if forloop.first %}
            <td class="tcol-equipment-group align-middle" rowspan="{{ objs|length }}">{{ obj.eq.equipment_type.name }}</td>
          {% else %}
          {% endif %}

          <td class="tcol-unit" style="white-space: nowrap;">
            <button class="btn btn-sm btn-clone-route d-print-none" title="Clone previous equipment route" {% if forloop.first %}disabled{% endif %}>
              <i class="far fa-clone"></i>
            </button>
            {{ obj.eq.name }}
          </td>

          <!-- <td class="tcol-units">{{ obj.eq.get_parent_units_num }}</td> -->
          <td class="tcol-pallet-space">{{ obj.eq.pallet_space }}</td>
          <td class="tcol-footprint">{{ obj.eq.footprint }}</td>

          <td class="tcol-from text-center" style="white-space: nowrap;">
            <div class="dropdown select-loc">
              <button class="btn btn-sm dropdown-toggle btn-{{ obj.start_location.type|route_class }}" type="button" data-toggle="dropdown">
                {{ obj.start_location.name }}
              </button>
              <div class="dropdown-menu">
                {% for location in other_locations %}
                  <span class="dropdown-item" data-location="{{ location.id }}">
                    {{ location.name }}</span>
                {% endfor %}
              </div>
            </div>
          </td>

          {% for week in obj.weeks %}
            <td>
              <div data-to-idx="" style="display: none; color: #ff0000;">
                <i class="far fa-arrow-alt-circle-right to-button"></i>
              </div>
            </td>

            {% if forloop.last %}

              <td class="tcol-to text-center">
                <div class="dropdown select-loc">
                  <button class="btn btn-sm dropdown-toggle btn-{{ week.selected.type|route_class }}" type="button" data-toggle="dropdown">
                    {{ week.selected.name }}
                  </button>
                  <div class="dropdown-menu">
                    {% for location in other_locations %}
                      <span class="dropdown-item" data-location="{{ location.id }}">
                        {{ location.name }}</span>
                    {% endfor %}
                  </div>
                </div>
              </td>

            {% else %}

              <td class="tcol-week text-center" style="white-space: nowrap;">

                <div class="dropdown select-loc">
                  <button class="btn btn-sm dropdown-toggle btn-{{ week.selected.type|route_class }}" type="button" data-toggle="dropdown">
                    {{ week.selected.name }}
                  </button>
                  <div class="dropdown-menu">
                    {% for convention in week.conventions %}
                      <span class="dropdown-item" data-convention="{{ convention.id }}" data-location="{{ convention.location.id }}">
                        {{ convention.name }} ({{ convention.lang.code }})</span>
                    {% endfor %}

                    {% for location in week.other_locations %}
                      <span class="dropdown-item" data-location="{{ location.id }}">
                        {{ location.name }}</span>
                    {% endfor %}

                    {% if not forloop.last %}
                      <span class="dropdown-item" data-in-transit="true">
                        In transit
                      </span>
                    {% endif %}
                  </div>
                </div>
              </td>

            {% endif %}
          {% endfor %}


        </tr>
      {% endfor %}
    {% endfor %}
  </tbody>
</table>
</form>

<div class="row d-print-none">
  <div class="col">
    <button class="btn btn-primary btn-lg" id="save-button" style="margin-left: 25px;">Save</button>
  </div>
</div>

<!-- Transport Order modal -->
<div id="to-modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Transport Order</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div> <!-- modal-header -->
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="to-name">Name</label>
            <input id="to-name" type="text" class="form-control">
          </div>

          <div class="form-group">
            <label for="to-load-out">Load out from <span id="to-from"></span></label>
            <input id="to-load-out" type="text" class="form-control" required>
          </div>

          <div class="form-group">
            <label for="to-load-in">Load in to <span id="to-to"></span></label>
            <input id="to-load-in" type="text" class="form-control" required>
          </div>

          <div class="form-group">
            <label for="to-notes">Notes</label>
            <input id="to-notes" type="text" class="form-control">
          </div>

          <div class="form-group">
            <label for="to-unit-notes">Unit notes</label>
            <input id="to-unit-notes" type="text" class="form-control">
          </div>


        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Cancel
        </button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" id="to-save-button">OK</button>
      </div>
    </div> <!-- .modal-content -->
  </div> <!-- .modal-dialog -->
</div> <!-- .modal -->

{% endblock %}

{% block javascript %}

<script>
var cols = {{ weeks|length }} + 1;
var toData = {{ json|safe }};
var conventions = {{ conventions|safe }};
var locations = {{ locations_json|safe }};
var selectedTOIdx = null;

$(document).ready(function() {
  //var i, j;
  //i = j = 0;
  var i = 0;
  $('[data-to-idx=""]').each(function() {
    $(this).attr('data-to-idx', i++);
  });

  // assign data-clone-idx attributes for clone buttons
  i = 0;
  $('.btn-clone-route').each(function() {
    $(this).attr('data-clone-idx', i);
    i += cols - 1;
  });

  $('[data-convention],[data-location],[data-in-transit]').on('click', function() {
    var conventionId = $(this).data('convention');
    var locationId = $(this).data('location');
    var inTransit = $(this).data('in-transit') !== undefined;
    locationPicked($(this), locationId, conventionId, inTransit);
  });

  $('.to-button').on('click', function() {
    var toIdx = $(this).parent().data('to-idx');
    openTOModal(toIdx);
  });

  $('#to-save-button').on('click', function() {
    saveModalFields();
  });

  $('#save-button').on('click', function() {
    save();
  });

  $('.btn-clone-route').on('click', function() {
    var row = $(this).parent().parent();
    var srcButtons = row.prev().find('.dropdown-toggle');
    var dstButtons = row.find('.dropdown-toggle');
    cloneEquipmentButtons(srcButtons, dstButtons);

    var toIdx = $(this).data('clone-idx');
    cloneEquipmentRoute(toIdx, cols - 1);
    return false;
  });

  for (var j = 0; j < toData.length; j++) {
    checkTOVisibility(j);
  }
});

function cloneEquipmentButtons(srcButtons, dstButtons) {
  // clone buttons html and classes
  for (var i = 0; i < srcButtons.length; i++) {
    $(dstButtons[i]).html($(srcButtons[i]).html());
    $(dstButtons[i]).attr('class', $(srcButtons[i]).attr('class'));
  }
}

function cloneEquipmentRoute(toIdx, len) {
  // clone toDatas
  for (var i = toIdx; i < toIdx + len; i++) {
    srcTo = toData[i-len];
    var eq = toData[i].equipment;
    toData[i] = $.extend({}, srcTo);
    toData[i].equipment = eq;
    checkTOVisibility(i);
  }
}

// Called when convention/location is picked from dropdown list
function locationPicked($elem, locationId, conventionId, inTransit) {
  console.debug('location', locationId, 'convention', conventionId);

  // change text in button
  var html = $elem.html();
  var button = $elem.parent().parent().children('button');
  button.html(html);

  // change button style
  button.removeClass('btn-secondary');
  button.removeClass('btn-success');
  button.removeClass('btn-info');
  button.removeClass('btn-warning');
  if (inTransit) {
    button.addClass('btn-warning');
  }
  else if (conventionId === undefined) {
    button.addClass('btn-info');
  }
  else {
    button.addClass('btn-success');
  }

  var modalOpened = false;

  // set data to toData
  var toIdx = prevTOIndex($elem);
  if (toIdx !== undefined) {
    var obj = {
      location: locationId,
      convention: conventionId,
      inTransit: inTransit,
    };
    if (conventionId && conventions[conventionId]) {
      obj.load_in = conventions[conventionId].load_in;
    }
    toData[toIdx].to = obj;
    var visible = checkTOVisibility(toIdx);

    if (visible && toIsIncomplete(toIdx)) {
      openTOModal(toIdx);
      modalOpened = true;
    }
  }

  toIdx = nextTOIndex($elem);
  if (toIdx !== undefined) {
    var obj = {
      location: locationId,
      convention: conventionId,
      inTransit: inTransit,
    };
    if (conventionId && conventions[conventionId]) {
      obj.load_out = conventions[conventionId].load_out;
    }
    toData[toIdx].from = obj;
    var visible = checkTOVisibility(toIdx);
    if (!modalOpened && visible && toIsIncomplete(toIdx)) {
      // from.load_out is empty, we need a value for it
      openTOModal(toIdx);
      modalOpened = true;
    }
  }
}

// Returns true if given TO is incomplete.
// There are locations defined but load_out or load_in is undefined.
function toIsIncomplete(toIdx) {
  return ((getTOFromField(toIdx, 'load_out') === undefined ||
           getTOToField(toIdx, 'load_in') === undefined) &&
           getTOFromField(toIdx, 'location') !== undefined &&
           getTOToField(toIdx, 'location') !== undefined);
}

// Returns value from TO 'from' fields.
// Follows inTransit chain automatically.
function getTOFromField(toIdx, field) {
  if (toIdx < 0) {
    console.error('getTOFromField', toIdx, field, 'too low index');
    return undefined;
  }
  if (toData[toIdx].from.inTransit) {
    // get field from previous TO
    return getTOFromField(toIdx - 1, field);
  }
  return toData[toIdx].from[field];
}

// Returns value from TO 'to' fields.
// Follows inTransit chain automatically.
function getTOToField(toIdx, field) {
  if (toIdx >= toData.length) {
    console.error('getTOToField', toIdx, field, 'too high index');
    return undefined;
  }
  if (toData[toIdx].to.inTransit) {
    // get field from next TO
    return getTOToField(toIdx + 1, field);
  }
  return toData[toIdx].to[field];
}

// checks if from and to are same location, disable TO and hide the icon
function checkTOVisibility(toIdx) {
  var to = toData[toIdx];
  if (getTOFromField(toIdx, 'location') === getTOToField(toIdx, 'location') || to.to.inTransit) {
    // same location
    to.disabled = true;
    $('[data-to-idx=' + toIdx + ']').hide();
  }
  else {
    to.disabled = false;
    $('[data-to-idx=' + toIdx + ']').show();
  }
  return !to.disabled;
}

// Opens modal for Transport Order modifications
function openTOModal(toIdx) {
  selectedTOIdx = toIdx;
  //console.debug(toData[toIdx]);
  fillModalFields(toIdx);
  $('#to-modal').modal('show');
}

function fillModalFields(toIdx) {
  var to = toData[toIdx];
  $('#to-name').val(to.name);
  $('#to-notes').val(to.notes);
  $('#to-unit-notes').val(to.unitNotes);

  var fromConvention = getTOFromField(toIdx, 'convention');
  var fromLocation = getTOFromField(toIdx, 'location');
  if (fromConvention && conventions[fromConvention]) {
    $('#to-from').html(conventions[fromConvention].name);
  }
  else if (fromLocation && locations[fromLocation]) {
    $('#to-from').html(locations[fromLocation].name);
  }

  var fromLoadOut = getTOFromField(toIdx, 'load_out');
  $('#to-load-out').val(fromLoadOut);

  var toConvention = getTOToField(toIdx, 'convention');
  var toLocation = getTOToField(toIdx, 'location');
  if (toConvention && conventions[toConvention]) {
    $('#to-to').html(conventions[toConvention].name);
  }
  else if (toLocation && locations[toLocation]) {
    $('#to-to').html(locations[toLocation].name);
  }

  var toLoadIn = getTOToField(toIdx, 'load_in');
  $('#to-load-in').val(toLoadIn);

}

function saveModalFields() {
  var sameTOs = findSameTOs(selectedTOIdx);
  saveTOData(toData[selectedTOIdx]);

  // save same data to other TO objects which should be the same
  for (var i = 0; i < sameTOs.length; i++) {
    copyTOData(toData[selectedTOIdx], sameTOs[i]);
    //saveTOData(sameTOs[i]);
  }
}

function saveTOData(to) {
  to.name = $('#to-name').val();
  to.notes = $('#to-notes').val();
  to.unitNotes = $('#to-unit-notes').val();
  to.from.load_out = $('#to-load-out').val();
  to.to.load_in = $('#to-load-in').val();
}

function copyTOData(src, dst) {
  dst.name = src.name;
  dst.notes = src.notes;
  dst.unitNotes = src.unitNotes;
  dst.from.load_out = src.from.load_out;
  dst.to.load_in = src.to.load_in;
}

// finds other TO objects which should be the same
function findSameTOs(idx) {
  var tos = [];
  var a = toData[idx];
  for (var i = 0; i < toData.length; i++) {
    if (i === idx) continue;
    var b = toData[i];
    if (equalTOs(a, b)) {
      tos.push(b);
    }
  }
  return tos;
}

function equalTOs(a, b) {
  if (a.from.location !== b.from.location) return false;
  if (a.from.load_out !== b.from.load_out) return false;
  if (a.to.location !== b.to.location) return false;
  if (a.to.load_in !== b.to.load_in) return false;
  return true;
}

function getConvention(id) {
  return conventions[id];
}

// Returns previous
function prevTOIndex($elem) {
  return $elem.parent().parent().parent().prev('td').children().data('to-idx');
}

// Returns next
function nextTOIndex($elem) {
  return $elem.parent().parent().parent().next('td').children().data('to-idx');
}

// Saves form
function save() {
  var url = 'save';
  var data = {
    tos: toData,
  };

  //setCSRFToken();
  var csrfToken = $('[name=csrfmiddlewaretoken]').val();

  var jqxhr = $.ajax({
    type: 'POST',
    url: url,
    data: JSON.stringify(data),
    contentType: 'application/json; charset=utf-8',
    dataType: 'json',
    beforeSend: function(xhr, settings) {
      xhr.setRequestHeader('X-CSRFToken', csrfToken);
    },
    success: function(response) {
      console.debug('Saved', response);
    },
  });
  jqxhr.fail(function(response) {
    console.error('Error when saving', response);
    alert('Error in saving');
  });
}

function setCSRFToken() {
  function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
  }

  $.ajaxSetup({
    beforeSend: function(xhr, settings) {
      if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
        xhr.setRequestHeader('X-CSRFToken', csrfToken);
      }
    }
  });
}

</script>

{% endblock %}
