<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'avdb/css/bootstrap-flatly.css' %}">
    <link rel="stylesheet" href="{% static 'avdb/css/fa-svg-with-js.css' %}">
    <link rel="stylesheet" href="{% static 'avdb/css/tsari.css' %}">
    <link rel="stylesheet" href="{% static 'avdb/css/routing.css' %}">
    <link rel="stylesheet" href="{% static 'avdb/css/docs.css' %}">
    <script src="{% static 'avdb/js/fontawesome-all.min.js' %}"></script>
    <title>{% block title %}FINLAND BRANCH 2018{% endblock %}</title>
  </head>
  <body>

    {% block main %}
    {% endblock %}

    <script src="{% static 'avdb/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'avdb/js/popper.min.js' %}"></script>
    <script src="{% static 'avdb/js/bootstrap.min.js' %}"></script>

    {% block javascript %}
    {% endblock %}
  </body>
</html>
