.to-container {
  font-size: 1.1rem;
}

h4.to-header {
  color: #fff !important;
  text-align: center !important;
  padding: 0.5rem !important;
  background-color: #3498DB !important;
  line-height: 1.5;
  margin-top: 1rem;
}

.table-to-details tr.equipment {
  background-color: yellow;
}

.table-to-details .grey-bg {
  background-color: #95a5a6 !important;
}

.table-to-details .light-grey-bg {
  background-color: #dadada !important;
}
