{% extends "base.html" %}

{% block main %}

<div class="container">
  <h1 style="margin-top: 50px; margin-bottom: 25px;">
    <i class="fas fa-upload"></i>
    Import Items From CSV File</h1>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Example data</h5>
      <pre><code>Item class;Name;Serial number;Unit;Built in unit;Qrid
1;Bolt;XYZ123;1;;ABC123
</code></pre>
    </div>
  </div>

  <form action="{% url 'import_items' %}" method="post" enctype="multipart/form-data" style="margin-top: 25px;">
    {% csrf_token %}
    {{ form }}
    <div class="form-group" style="margin-top: 25px; margin-bottom: 50px;">
      <button type="submit" class="btn btn-primary">
        <i class="fas fa-upload"></i>
        Import items
      </button>
    </div>
  </form>

  {% if error %}
    <h3 class="text-danger">
      <i class="fas fa-times"></i>
      Error</h3>
    <p>{{ error }}</p>
  {% endif %}

  {% if failed %}
    <h3 class="text-danger">
      <i class="fas fa-times"></i>
      {{ failed|length }} rows failed</h3>

    <table class="table table-sm">
      <thead>
        <tr class="table-danger">
          <th>Item class</th>
          <th>Name</th>
          <th>Serial number</th>
          <th>Unit</th>
          <th>Built in unit</th>
          <th>QRID</th>
        </tr>
      </thead>
    {% for row in failed %}
      <tr>
        <td class="{% if row.0.error %}text-danger{% endif %}">{{ row.0.val }}</td>
        <td class="{% if row.1.error %}text-danger{% endif %}">{{ row.1.val }}</td>
        <td class="{% if row.2.error %}text-danger{% endif %}">{{ row.2.val }}</td>
        <td class="{% if row.3.error %}text-danger{% endif %}">{{ row.3.val }}</td>
        <td class="{% if row.4.error %}text-danger{% endif %}">{{ row.4.val }}</td>
        <td class="{% if row.5.error %}text-danger{% endif %}">{{ row.5.val }}</td>
      </tr>
    {% endfor %}
    </table>
  {% endif %}

  {% if imported %}
    <h3>
      <i class="fas fa-check"></i>
      {{ imported|length }} items imported</h3>

    <table class="table table-sm">
      <thead>
        <tr>
          <th>Item class</th>
          <th>Name</th>
          <th>Serial number</th>
          <th>Unit</th>
          <th>Built in unit</th>
          <th>QRID</th>
        </tr>
      </thead>
    {% for item in imported %}
      <tr>
        <td>{{ item.item_class }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.serial_number }}</td>
        <td>{{ item.unit }}</td>
        <td>{{ item.built_in_unit }}</td>
        <td>{{ item.qrid }}</td>
      </tr>
    {% endfor %}
    </table>
  {% endif %}
</div>

{% endblock %}
