{% extends "base.html" %}

{% block main %}

<div class="container">
  <h1 style="margin-top: 50px; margin-bottom: 25px;">
    <i class="fas fa-upload"></i>
    Import Locations From CSV File</h1>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Example data</h5>
      <pre><code>Name;Address;Entrance;Loc type;Abbreviation
Tampere Exhibition and Sports Centre;Ilmailunkatu 20, 33900 Tampere, Finland;Service Entrance A8;1;TRE</code></pre>
    </div>
  </div>

  <form action="{% url 'import_locations' %}" method="post" enctype="multipart/form-data" style="margin-top: 25px;">
    {% csrf_token %}
    {{ form }}
    <div class="form-group" style="margin-top: 25px; margin-bottom: 50px;">
      <button type="submit" class="btn btn-primary">
        <i class="fas fa-upload"></i>
        Import locations
      </button>
    </div>
  </form>

  {% if error %}
    <h3 class="text-danger">
      <i class="fas fa-times"></i>
      Error</h3>
    <p>{{ error }}</p>
  {% endif %}

  {% if failed %}
    <h3 class="text-danger">
      <i class="fas fa-times"></i>
      {{ failed|length }} rows failed</h3>

    <table class="table table-sm">
      <thead>
        <tr class="table-danger">
          <th>Name</th>
          <th>Address</th>
          <th>Entrance</th>
          <th>Loc type</th>
          <th>Abbreviation</th>
        </tr>
      </thead>
    {% for row in failed %}
      <tr>
        <td class="{% if row.0.error %}text-danger{% endif %}">{{ row.0.val }}</td>
        <td class="{% if row.1.error %}text-danger{% endif %}">{{ row.1.val }}</td>
        <td class="{% if row.2.error %}text-danger{% endif %}">{{ row.2.val }}</td>
        <td class="{% if row.3.error %}text-danger{% endif %}">{{ row.3.val }}</td>
        <td class="{% if row.4.error %}text-danger{% endif %}">{{ row.4.val }}</td>
      </tr>
    {% endfor %}
    </table>
  {% endif %}

  {% if imported %}
    <h3>
      <i class="fas fa-check"></i>
      {{ imported|length }} locations imported</h3>

    <table class="table table-sm">
      <thead>
        <tr>
          <th>Name</th>
          <th>Address</th>
          <th>Entrance</th>
          <th>Loc type</th>
          <th>Abbreviation</th>
        </tr>
      </thead>
    {% for location in imported %}
      <tr>
        <td>{{ location.name }}</td>
        <td>{{ location.address }}</td>
        <td>{{ location.entrance }}</td>
        <td>{{ location.loc_type }}</td>
        <td>{{ location.abbreviation }}</td>
      </tr>
    {% endfor %}
    </table>
  {% endif %}
</div>

{% endblock %}
